.description {
    margin-left: 2%;
    float: bottom;
    resize: none;
}
.image{
    float:left;
}

.postButton {
    margin-left: 85%;
    margin-bottom: 2%;
}
.onMind{
    margin-left: 5%;
}

.date {
    margin-left: 60%;
}

.likeIcon { 
    width: 5%;
    margin-bottom: 1%;
}