.description {
    margin-left: 2%;
    float: bottom;
    resize: none;
}
.image{
    float:left;
}

.postButton {
    margin-left: 85%;
    margin-bottom: 2%;
}
.onMind{
    margin-left: 5%;
}

.date {
    margin-top:9%;
    float: right;
}

.likeIcon { 
    width: 5%;
    margin-bottom: 1%;
    margin-right: 2%;
}

.likeButton {
    margin-top:8%;
    float: left;
}