
  <div panel-content class="onMind">
    <form role="form" [formGroup]="postForm">
      <ikubinfo-input>
          <img class="image" src="assets/images/{{user.image}}.png" alt="{{user.image}}" />
          <textarea  class="description" formControlName="description" [rows]="2" [cols]="119" pInputTextarea placeholder="What's on your mind?"></textarea>
        </ikubinfo-input>
    </form>
    <button [disabled]="postForm.invalid" pButton type="button" label="Post" class="ui-button-rounded ui-button-primary postButton" (click)="submit()"></button>
   
  </div>


<div class="row">
  <div class="col col-xl-6 col-lg-12" *ngFor="let post of posts">
    <ikubinfo-panel header="{{post.user.firstName}} {{post.user.lastName}}">
      <div panel-content>
        <h1>{{post.title}}</h1>
        <p style="text-align: center">{{post.description}}</p>
        <div>
          <img class="likeIcon" src="assets/images/like.png" alt="likeIcon" />
          <span *ngFor="let like of post.likes">
          <span class="badge badge-primary"  *ngIf="like.flag" >{{like.user.firstName}} {{like.user.lastName}}</span>
        </span>
        </div>
        <button pButton type="button" label="Like" class="ui-button-rounded ui-button-primary" (click)="like(post.id)"></button>
        <span class="badge badge-primary date">{{convertDate(post)}}</span>
      </div>
    </ikubinfo-panel>
  </div>
</div>