<button pButton type="button" icon="fa fa-plus" (click)="createPage()" label="New Page" class="ui-button-rounded create"></button>
<div class="cards" *ngFor="let page of pages">
  <p-card
    header="{{ page.name }}"
    subheader="{{ countFollowers(page) }} Followers  {{
      countPosts(page)
    }} Posts"
    [style]="{ width: '360px' }"
    styleClass="ui-card-shadow"
  >
    <p-header>
      <img src="Card" src="assets/images/children.jpg" />
    </p-header>
    <div>{{ page.bio }}</div>
    <hr />
    <p-footer>
      <button pButton type="button" icon="fa fa-pencil-square-o" label="Edit" (click)="editPage(page.id)"></button>
      <button pButton type="button" icon="fa fa-trash" label="Delete" class="ui-button-danger" (click)="deletePage(page.id)"></button>
    </p-footer>
  </p-card>
</div>
