<div class="menu">
<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
</div>
<div class="row" *ngIf="showReq == true" >
<div class="col col-xl-6 col-lg-12"*ngFor="let request of requests" >
<div *ngIf="request.user.id != user.id ">

  
    <ikubinfo-panel header="{{request.user.firstName}} {{request.user.lastName}}">
      <div panel-content>
        <div>
        <img class="photo" src="assets/images/{{request.user.image}}.png" alt="{{request.user.image}}" style="float: left;" />
        <h1>{{request.user.firstName}} {{request.user.lastName}}</h1>
        </div>
        <br>
        <p style="text-align: center">Address: {{request.user.address}}</p>
        <p style="text-align: center">Education: {{request.user.education}}</p>
        <p style="text-align: center">Job: {{request.user.job}}</p>
        <button icon="fa fa-plus-circle" pButton type="button" label="Cancel request" class="ui-button-raised ui-button-secondary" (click)="cancelRequest(request.id.userId)"></button>
      </div>
     
    </ikubinfo-panel>
  </div>

  <div *ngIf="request.user.id == user.id && showReq == true">
      <ikubinfo-panel header="{{request.friend.firstName}} {{request.friend.lastName}}">
        <div panel-content>
          <div>
          <img class="photo" src="assets/images/{{request.friend.image}}.png" alt="{{request.friend.image}}" style="float: left; " />
          <h1 style="text-align: center">{{request.friend.firstName}} {{request.friend.lastName}}</h1>
          </div>
          <br>
          <p style="text-align: center">Address: {{request.friend.address}}</p>
          <p style="text-align: center">Education: {{request.friend.education}}</p>
          <p style="text-align: center">Job: {{request.friend.job}}</p>
          <button icon="fa fa-plus-circle" pButton type="button" label="Cancel request" class="ui-button-raised ui-button-secondary" (click)="cancelRequest(request.id.friendId)"></button>
        </div>
       
      </ikubinfo-panel>
    </div>
  
</div>
</div>
<!--all users-->
<div class="row" *ngIf="showPeople == true">
  <div class="col col-xl-6 col-lg-12" *ngFor="let user of users">
    <ikubinfo-panel header="{{user.firstName}} {{user.lastName}}">
      <div panel-content>
        <div>
        <img class="photo" src="assets/images/{{user.image}}.png" alt="{{user.image}}" style="float: left;" />
        <h1 class="name" (click)="openProfile(user.id)"style="text-align: center">{{user.firstName}} {{user.lastName}}</h1>
        </div>
        <br>
        <p style="text-align: center"><i class="fa fa-home"></i> Address: {{user.address}}</p>
        <p style="text-align: center"><i class="fa fa-graduation-cap"></i> Education: {{user.education}}</p>
        <p style="text-align: center"><i class="fa fa-briefcase"></i> Job: {{user.job}}</p>
        <button icon="fa fa-plus-circle" pButton type="button" label="Add friend" class="ui-button-raised ui-button-secondary" (click)="addFriend(user)"></button>
      </div>
     
    </ikubinfo-panel>
  </div>
</div>
<!--Pages-->
<div *ngIf="showPages == true">
  <div class="cards" *ngFor="let page of pages">
  <p-card
    header="{{ page.name }}"
    subheader="{{ countFollowers(page) }} Followers  {{
      countPosts(page)
    }} Posts"
    [style]="{ width: '360px' }"
    styleClass="ui-card-shadow"
  >
    <p-header>
      <img src="Card" src="assets/images/children.jpg" />
    </p-header>
    <div>{{ page.bio }}</div>
    <hr />
    <p-footer>
      <button *ngIf="!isLiked(page)" pButton type="button" icon="fa fa-thumbs-up" label="Like" (click)="likePage(page.id)"></button>
      <button *ngIf="isLiked(page)" pButton type="button" icon="fa fa-thumbs-down" label="Unlike" class="ui-button-danger unlike" (click)="unlikePage(page.id)"></button>
    </p-footer>
  </p-card>
</div>
</div>